.newsfeed {
  width: 35vw;
  height: 100vh;
  background-color: #eeeeee;
  overflow-y: scroll;
}
.newsfeed::-webkit-scrollbar {
  display: none;
}
.postContainer {
}
.postContainer {
  margin-top: 4rem;
  margin-bottom: 2rem;
}
